<main>
  
  
<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">Page Not Found</h1>
                        <p class="lead text-white">
                          The page you are looking for doesn’t exist 🙀
                          <img class="image_55c42" src="https://ph-static.imgix.net/page_not_found.gif?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;w=400&amp;h=191&amp;fit=max" alt="page not found" srcset="https://ph-static.imgix.net/page_not_found.gif?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;w=400&amp;h=191&amp;fit=max&amp;dpr=2 2x, https://ph-static.imgix.net/page_not_found.gif?auto=format&amp;auto=compress&amp;codec=mozjpeg&amp;cs=strip&amp;w=400&amp;h=191&amp;fit=max&amp;dpr=3 3x" style="width: 400px; height: 191px;">
                        </p>
                        
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>


<section class="pricing-3" style="background-image: url('../assets/img/ill/1.svg')" id="pricing-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center my-5">
              <h3 class="display-3">Let me help you:</h3>
              <button type="button" class="btn btn-primary mb-3">Go back to home</button>
            </div>
          </div>
     
        </div>
      </section>