<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
        	<div class="row text-center justify-content-center">
       <div class="col-lg-8">
              <h3 class="display-3 text-white">The feature of payment requests

</h3>
              <p class="lead text-white">PayRequests lets you easily create payment links and share them via email or sms, we support all payment methods directly via your current payment provider.

</p>
            </div>
        </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>

<section class="pricing-3" style="background-image: url('../assets/img/ill/1.svg')" id="pricing-4">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">
<span class="text-success">Simple fast payment links

</span></h3>
              <p class="lead text">We are making creating payrequests easy, our clean dashboard en simple features are easy to use for everybody.</p>
            </div>
          </div>
          <div class="row row-grid mt-5">
            <div class="col-lg-6">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-hat-3 text-info"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-info">Modular Components</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                  <a href="#" class="text-info">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
                  <i class="ni ni-istanbul text-warning"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-warning">Modern Interface</h5>
                  <p>If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration.</p>
                  <a href="#" class="text-warning">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-grid">
            <div class="col-lg-6">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
                  <i class="ni ni-trophy text-danger"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-danger">Great Features</h5>
                  <p>People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest.</p>
                  <a href="#" class="text-danger">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-success rounded-circle text-white">
                  <i class="ni ni-image text-success"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-success">Awesome Support</h5>
                  <p>The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color.</p>
                  <a href="#" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>