<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
       <div class="col-lg-8">
              <h3 class="display-3 text-white">The feature of payment requests

</h3>
              <p class="lead text-white">PayRequests lets you easily create payment links and share them via email or sms, we support all payment methods directly via your current payment provider.

</p>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>