<div class="position-relative">
	<!-- Hero for FREE version -->
	<section class="section section-lg section-shaped">
		<!-- Background circles -->
		<div class="shape shape-style-self shape-primary">
			<span class="span-150"></span>
			<span class="span-50"></span>
			<span class="span-50"></span>
			<span class="span-75"></span>
			<span class="span-100"></span>
			<span class="span-75"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
		</div>
		<div class="container shape-container d-flex align-items-center">
			<div class="row text-center justify-content-center">
				<div class="col-lg-8">
					<h3 class="display-3 text-white">Beta Program
					
					</h3>
					<p class="lead text-white">Help us make PayRequest better, and also test new features!
						It is free to signup for our beta program, only thing you need to do is give us some feedback.
					</p>
				</div>
			</div>
		</div>
		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			     xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
</div>



<div class="section features-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center mx-auto">
				<h3 class="display-3">Signup for a beta account</h3>
				<p class="lead">
					Just click the button below and fill in your account details or connect your google account.</p>
<br />
					<a href="https://beta.payrequest.io/dashboard" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
							<span class="btn-inner--icon"><i class="fal fa-user"></i></span>
							<span class="btn-inner--text">Sign up for Beta access</span>
						</a>
			</div>
		</div>
		<div>

		</div>
	</div>
</div>


