


<div class="position-relative black">
    <!-- Hero for FREE version -->
    <section class="section section-lg section">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">PayRequest Blog</h1>
                        <p class="lead text-white">
Read here our latest product updates, news, product tips and technical information how we build our product.
                        </p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>



<style>

canvas {
  border: 1px dotted blue;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 60vw;
}

</style>

<section class="pricing-3" id="pricing-4">
	<div class="container">


<div class="row row-grid mt-5">
			<div class="col-lg-6">
				<div class="info info-horizontal bg-white">
					<div class="icon icon-shape icon-shape-info rounded-circle text-white">
						<i class="fa fa-user-headset text-info"></i>
					</div>
					<div class="description pl-4">
						<h5 class="title text-info">24x7 livechat support</h5>
						<p>Ask us any question, you will speak directly to someone who can help you like a webdeveloper, we will never outsource our support.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="info info-horizontal bg-white">
					<div class="icon icon-shape icon-shape-warning rounded-circle text-white">
						<i class="fa fa-volcano text-warning"></i>
					</div>
					<div class="description pl-4">
						<h5 class="title text-warning">Research &amp; Development</h5>
						<p>We are a Fintech company, and we want to change the payment industry with great tools that save time and make doing business a lot easier.</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</section>



<div class="accordion-1 black">
    <div class="container">
        <div class="row">
            <div class="text-center">
<br />


<div class="sharethis-inline-share-buttons"></div>
			
	
		
					



            </div>
        </div>
    
    </div>
</div>

