<section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                      <div class="icon icon-shape bg-primary icon-xl rounded-circle text-white">
                <i class="fa fa-newspaper"></i>
              </div>

<h1 class="text-white">How to Choose the Right Payment Gateway for Your Company

</h1>
                        <p class="lead text-white">
<blockquote class="blockquote text-center mt-4">
              <p class="mb-0 text-white">posted 13 Sept 2019</p>
              <footer class="blockquote-footer text-white">Posted by Geert Jan<cite title="Source Title"> (CEO)</cite>
              </footer>
            </blockquote>                        </p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>