


<div class="position-relative black">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">PayRequest Blog</h1>
                        <p class="lead text-white">
Read here our latest product updates, news, product tips and technical information how we build our product.
                        </p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>





<section class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <section class="blogs-3">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-10 col-md-8 mx-auto">
                      <h2 class="title mb-5">Latest Blog Posts</h2>


                      <div class="card card-blog card-plain blog-horizontal mb-5">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="card-image shadow">
                              <a href="javascript:;">
                                <img class="img rounded" src="https://payrequest.io/assets/img/screens/screen1.jpeg">
                              </a>
                            </div>
                          </div>
                          <div class="col-lg-8">
                            <div class="card-body">
                              <h3 class="card-title">
                                <a href="javascript:;">What is a open startup ?</a>
                              </h3>
                              <p class="card-description">
                                Finding temporary housing for your dog should be as easy as renting an Airbnb. That’s the idea behind Rover, which raised  <a href="javascript:;"> Read More </a>
                              </p>
                              <div class="author">
                                <img src="../assets/img/faces/team-1.jpg" alt="..." class="avatar img-raised">
                                <div class="text">
                                  <span class="name">Geert Jan Sloos</span>
                                  <div class="meta">Posted 20 Dec 2019</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                



                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>



<div class="accordion-1 black">
    <div class="container">
        <div class="row">
            <div class="text-center">
<br />


<div class="sharethis-inline-share-buttons"></div>
			
	
		
					



            </div>
        </div>
    
    </div>
</div>

