<div class="position-relative">
	<!-- Hero for FREE version -->
<section class="section section-lg section-shaped">
		<!-- Background circles -->
		<div class="shape shape-style-self shape-primary">
			<span class="span-150"></span>
			<span class="span-50"></span>
			<span class="span-50"></span>
			<span class="span-75"></span>
			<span class="span-100"></span>
			<span class="span-75"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
		</div>
		<div class="container shape-container d-flex align-items-center">
			<div class="row text-center justify-content-center">
				<div class="col-lg-8">


<div class="icon icon-shape bg-gradient-white shadow rounded-circle mb-3"><i class="fal fa-envelope text-yellow" aria-hidden="true"></i></div>

					<h3 class="display-3 text-white"> PayRequest Contact</h3>
					<p class="lead text-white">We offer 24x7 support on our payment platform for small and large companies.  Also you can find here our business information for any purposes.</p>
				</div>
			</div>
		</div>
		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
</div>
<div class="main">


<div class="container pt-5">
        <div class="row">
          <div class="col-md-12 text-center mb-5">
            <h1 class="display-1">PayRequest Information</h1>
            <h3 class="lead">See here all our company business details.</h3>
            
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6">
            <div class="info info-hover">
              <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                <i class="ni ni-square-pin"></i>
              </div>
              <h4 class="info-title">Company Address</h4>
              <p class="description px-0"> Parkstraat 83, 2514 JG Den Haag</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6">
            <div class="info info-hover">
              <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                <i class="ni ni-email-83"></i>
              </div>
              <h4 class="info-title">Email Support</h4>
              <p class="description px-0"> info@payrequest.io</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6">
            <div class="info info-hover">
              <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                <i class="ni ni-mobile-button"></i>
              </div>
              <h4 class="info-title">Chamber of Commerce</h4>
              <p class="description px-0"> 56871244 (Netherlands)</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6">
            <div class="info info-hover">
              <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                <i class="ni ni-circle-08"></i>
              </div>
              <h4 class="info-title">Opening hours</h4>
              <p class="description px-0">24 / 7 / 365</p>
            </div>
          </div>
        </div>
      </div>



      <div class="container-fluid">
        <div class="row mt-5 mb-4 pt-5">
          <div class="col-md-8 ml-auto mr-auto text-center mt-5">
            <span class="badge badge-info">Reply within 24 hours</span>
            <h1 class="title">Still have a<b> question?</b></h1>
            <h4 class="desc">Whether you have questions or you would just like to say hello, contact us.</h4>
          </div>
        </div>






        <div class="row">
          <div class="col-md-6 mx-auto ">



<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
<script>
  hbspt.forms.create({
  portalId: "7427288",
  formId: "229dd4aa-48cf-40e7-a751-e9f7dbb9b012"
});
</script>


          </div>
        </div>
      </div>
    </div>