<section class="section section-lg bg-gradient-default" style="
    padding-top: 0rem !important;
">
      <div class="container pt-md pb-10">
        <div class="row text-center justify-content-center" style="
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">The Payment Request Platform</h2>
<p class="text-white">PayRequest is handle payment requests on global scale.</p>
            
          </div>
        </div>


<div class="container pb-0">
    
    <div class="row justify-content-center text-center pb-5">
      <div class="col-md-4 mb-3 mb-4 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <span class="display-4 d-block text-info" data-countup="" data-start="1" data-end="4.89" data-duration="3" data-grouping="true" data-suffix="/5" data-decimal-places="2" style="
    font-size: 3.5rem;
    font-weight: 500;
    color: orange;
    line-height: 1.2;
">150+</span>
        <span class="h6 text-light">Countries supported</span>
      </div>
      <div class="col-md-4 mb-3 mb-4 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <span class="display-4 text-info d-block" data-countup="" data-start="100000" data-end="200000" data-duration="3" data-grouping="true" data-suffix="+" style="
    font-size: 3.5rem;
    font-weight: 500;
    color: orange;
    line-height: 1.2;
">200+</span>
        <span class="h6 text-light">Worldwide Customers</span>
      </div>
      <div class="col-md-4 mb-3 mb-4 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <span class="display-4 text-info d-block" data-countup="" data-start="1000000" data-end="2394421" data-duration="3" data-grouping="true" style="
    font-size: 3.5rem;
    font-weight: 500;
    color: orange;
    line-height: 1.2;
">10,000+</span>
        <span class="h6 text-light">Payment Requests</span>
      </div>
    </div>


<div class="row">
      <div class="col-md-6">
        <div class="card card-body flex-row py-4">
          <img src="https://hopin-static-assets.s3.eu-west-2.amazonaws.com/eric.jpg" alt="Eric Axelrod Profile ficture" class="avatar">
          <div class="ml-3">
            <h4>"PayRequest saves time on sending payment links, and increased our paid ratio."</h4>
            <div class="avatar-author d-block">
              <h6>Geert Jan Sloos</h6>
              <span class="text-muted">Hostingwalk</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-body flex-row py-4">
          <img src="https://miro.medium.com/fit/c/240/240/0*QxE0QV-Mox4Vc72v.jpg" alt="Avatar" class="avatar avatar-lg">
          <div class="ml-3">
            <h4>
              “We connect our global network of mentors, investors, &amp; entrepreneurs using this.”
            </h4>
            <div class="avatar-author d-block">
              <h6>Tom Previte</h6>
              <span class="text-muted">Launch 22</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       



      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>