<div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Donations Page information</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      How can i create my own donation page?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
To create your own donation page you need to first signup at PayRequest, after that you need to configure a payment provider of choise, and after that you can create a free donation page via our dashboard.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is a donation goal?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                        With a donation goal you can choose the amount that you want to raise for your donation campagne, but don`t worry you can still recieve donations after your donation goal is reached.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What are the costs for donation page?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                   Signup for Payrequest and creating donation pages is free, you only pay the transactions costs of Mollie or Stripe plus a 2% service fee to cover the costs of our platform, but we have 0% fees for any non-profit organisation.
                  </div>
                </div>
              </div>
              
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                       My Payment Service Provider is not listed ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    For now we only support Mollie &amp; Stripe because these are big names in the PSP market, we are planning to support more PSP in the future, also CoinBase &amp; PayPal is on our roadmap, if you need any other PSP please contact us and we will add it to our roadmap.
                  </div>
                </div>
              </div>
            
  </div>
   </div>
        </div>
      </div>
    </div>