<section class="section section-lg bg-gradient-default" style="
    padding-top: 2rem !important;
">
      <div class="container pt-lg pb-100">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">PayRequest Features</h2>
            <p class="lead text-white">Discover our best features for your payment requests.</p>
          </div>
        </div>
       <div class="row">

                <div class="col-md-4">
                  <div class="info info-hover-warning">
                    <div class="icon icon-shape bg-warning shadow rounded-circle text-primary">
                      <i class="fa fa-link text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Customize page

</h5>
                    <p class="description opacity-8 text-white">Use your own logo &amp; background, insert your own title and description and of course amount.

</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info info-hover-info">
                    <div class="icon icon-shape bg-info shadow rounded-circle text-primary">
                      <i class="fa fa-bells text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Payment reminders

</h5>
                    <p class="description opacity-8 text-white">We can send a email or sms reminder once a time but also per week, month or even daily.

</p>
                  </div>
                </div>





<div class="col-md-4">
                  <div class="info info-hover-success">
                    <div class="icon icon-shape bg-success shadow rounded-circle text-primary">
                      <i class="fa fa-sync-alt text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Payment Logs
</h5>
                    <p class="description opacity-8 text-white">We send an email if your request is paid, but we also track if your customer opens the link.

</p>
                  </div>
                </div><div class="col-md-4">
                  <div class="info info-hover-primary">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <i class="fa fa-lock-alt text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">3D Secure authentication

</h5>
                    <p class="description opacity-8 text-white">3D Secure is an authentication method used to verify a customer's identity before an online card purchase.


</p>
                  </div>
                </div>



<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-default shadow rounded-circle text-info">
                      <i class="fa fa-credit-card text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Local Payment Methods
</h5>
                    <p class="description opacity-8 text-white">Never say no again, we support 20+ local payment methods from Africa, Europe, North America and Asia.
</p>
                  </div>
                </div>


<div class="col-md-4">
                  <div class="info info-hover-danger">
                    <div class="icon icon-shape bg-danger shadow rounded-circle text-info">
                      <i class="fa fa-credit-card text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Multi Currency
</h5>
                    <p class="description opacity-8 text-white">We support al major currencies all around the globe, with realtime currency conversion for every currency.
</p>
                  </div>
                </div>
              </div>



      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>