

	<div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp; margin-top:10px;">
            <h2>Discover another <span>Glossary</span> terms:</h2>
         </div>

<div class="row" style="margin-bottom: 15px;">



               

<div class="col-lg-4">
                  <aside>
                     

 <div class="widget">
                        <div class="widget-title text-center">
                           <h4> A</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="http://undraw.co/illustrations">Acquirer<span>&gt;</span></a></li>
                           <li><a href="#">Authorization<span>&gt;</span></a></li>
                           
 </ul>
                     </div>
                     
   </aside>
               </div>


<div class="col-lg-4">
                  <aside>

   <div class="widget">
                        <div class="widget-title text-center">
                           <h4>B</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="#">Bank Identification Number (BIN)<span>&gt;</span></a></li>
                           <li><a href="http://undra/">Bancontact<span>&gt;</span></a></li>
                           
 </ul>
                     </div>
                     
  </aside>
 </div>




<div class="col-lg-4">
                  <aside>
                     
 <div class="widget">
                        <div class="widget-title text-center">
                           <h4>C</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="#">Tawk.to<span>&gt;</span></a></li>
                           <li><a href="#">Slack<span>&gt;</span></a></li>
                           
  </ul>
                     </div>
                     
 </aside>
               </div>


  </div>




 <div class="row">
               



<div class="col-lg-4">
                  <aside>
   <div class="widget">
                        <div class="widget-title text-center">
                           <h4><i class="fa fa-cloud"></i>  DNS / Website check</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="#">IntoDNS<span>&gt;</span></a></li>
                           <li><a href="#">Pingdom Tools<span>&gt;</span></a></li>
  </ul>
                     </div>
    
  </aside>
               </div>


<div class="col-lg-4">
                  <aside>
                     
  <div class="widget">
                        <div class="widget-title text-center">
                           <h4><i class="fa fa-cloud"></i> Files / Storage</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="#">FireFox Send<span>&gt;</span></a></li>
                           <li><a href="#">DropBox<span>&gt;</span></a></li>
                           
   </ul>
                     </div>
                     
 </aside>
               </div>

<div class="col-lg-4">
                  <aside>
                     
  <div class="widget">
                        <div class="widget-title text-center">
                           <h4><i class="fa fa-cloud"></i> Developer Tools</h4>
                        </div>
                        <ul class="cat__list">
                           <li><a href="#">CodePen.io<span>&gt;</span></a></li>
                           <li><a href="#">GitHub<span>&gt;</span></a></li>
                           
  </ul>
                     </div>
                     
  </aside>
               </div>



   </div>