<style>
.section-content .image-container {
    height: 400px;
}
.section-content .image-container .img-comments {
    z-index: 3;
    left: -100px;
    top: -40px;
}
.section-content .image-container img {
    position: absolute;
    width: 100%;
    max-width: 380px;
}
[class*=shadow] {
    transition: all .15s ease;
}
.section-content .image-container .img-blog {
    z-index: 4;
    left: 100px;
    top: 20px;
}
.profile-page .card-profile .card-profile-image img, .shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
rounded {
    border-radius: .25rem!important;
}
</style>



<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-9 text-center">
<h1 class="text-white">No-Code Payment platform for </h1>
<h1 class="typing nerdy-pen__text"> <span style="color: white;" class="txt-rotate" data-period="200"
data-rotate='[ "Developers", "Donations", "Webshops", "Startups", "SaaS" ]'></span>
</h1>

 <p class="lead text-white">
PayRequest is a no-code payment platform, to accept all payment methods, and start your business worldwide, share your own payrequest.me link and create payment pages for your business.
                        </p>

                        <div class="btn-wrapper mt-3">
                            <a href="https://dashboard.payrequest.io" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fal fa-envelope"></i></span>
                                <span class="btn-inner--text">Create free account</span>
                            </a>
                          
                        </div>
<div class="mt-3" style="margin-bottom: 150px;">
<br> 
<a href="https://www.producthunt.com/posts/payrequest?utm_source=badge-top-post-badge&amp;utm_medium=badge&amp;utm_souce=badge-payrequest" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=176421&amp;theme=dark&amp;period=daily" alt="PayRequest - Simple, fast payment links via Stripe and Mollie | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px"></a>

<img alt="Stripe logo" src="https://payrequest.io/assets/img/stripe-partner-badges/L_Color_Solid.svg" style="height: 63px;padding: 6px;">
                        </div>

                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>

<section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
             <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card card-project">
            <a href="javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mx-auto">
                <i class="fa fa-link" aria-hidden="true"></i>
              </div>
            </a>
            <div class="card-body">
              
<img src="https://payrequest.io/assets/img/illustrations/payment-links-illustration.png" style="width: 149px;height: 108px;">


<h4 class="card-title mt-3">PayRequest Links</h4>
              <p class="card-description">Create and share payment links in seconds, no coding experience required.</p>
              <div class="card-footer">
<a href="/payment-links" class="btn btn-link text-success"><i class="fa fa-info" aria-hidden="true"></i> Discover</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project">
            <a href="javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mx-auto">
                <i class="fa fa-hand-holding-heart" aria-hidden="true"></i>
              </div>
            </a>
            <div class="card-body">
<img src="https://payrequest.io/assets/img/illustrations/donation-page-illustration.png" style="
    width: 149px;
    height: 108px;
">


<h4 class="card-title mt-3">PayRequest Donations</h4>
              <p class="card-description">Create your own donation page and share it with everybody in the world.</p>
              <div class="card-footer">
<a href="/donation-pages" class="btn btn-link text-success"><i class="fa fa-info" aria-hidden="true"></i> Discover</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card card-project">
            <a href="javascript:;">
              <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mx-auto">
                <i class="fa fa-browser" aria-hidden="true"></i>
              </div>
            </a>
            <div class="card-body">
<img src="https://payrequest.io/assets/img/illustrations/payment-page-illustration.png" style="
    width: 149px;
    height: 108px;
">


<h4 class="card-title mt-3">PayRequest Pages</h4>
              <p class="card-description">Create your own payrequest.me page and share your payment page with everyone.</p>
              <div class="card-footer">

                <a href="/payment-pages" class="btn btn-link text-success"><i class="fa fa-info" aria-hidden="true"></i> Discover</a>
              </div>
            </div>
          </div>
        </div>
      </div>
            </div>
        </div>
    </div>
</section>

{% include seen-on.html %}


{% include features-block.html %}



<!-- Start Powerful Dashboard Info Section -->
<section class="section-content" style="padding: 80px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt-md-5 order-md-2 order-lg-1">
            <div class="image-container">
              <img class="img shadow rounded img-comments w-100" alt="Payrequest Integrions screen" src="https://i.imgur.com/NBB9yC7.png">
              <img class="img shadow rounded img-blog mt-5 w-100" alt="Payrequest Request overview" src="https://i.imgur.com/ggVaoJu.png">
            </div>
          </div>
          <div class="col-lg-6 mx-auto order-md-1">
            <div class="section-description">
              <h2 class="display-3">PayRequest Dashboard<span class="text-success">Manage all your payments.</span></h2>
              <p class="lead">The PayRequest Dashboard lets you manage all your payment links and more, with a simple overview you can view all status and reminders that are send, you will also get a log update when someone views, chooses payment type or pays your payment link.

</p>
            </div>
          </div>
        </div>
      </div>
    </section>


<div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Frequently asked questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is PayRequest ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">

                      PayRequest is a Payment Platform where you can create payment links with Stripe or Mollie <small>More coming soon!</small>, and directly send reminders to your customers via email or sms.
                      With PayRequest you can create Beautiful Payment Links and change the look & feel of your payment link pages. Add your own logo, change the company avatar or add your own background.

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is a Payment Link ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                        A payment link is a unique link you can share via email or sms which contains a specified amount and a personal message for the reciever. On the payment link page they can choose a payment method like credit card and pay the requested amount. After a succesfull payment you will get a notification about it.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What are the costs for using payrequest ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                   Signup for Payrequest and creating payment links is free, you only pay the transactions costs of Mollie or Stripe plus a 2% service fee to cover the costs of our platform.
                  </div>
                </div>
              </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link w-100 text-primary text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                Do you offer premium to non-profit organisations?
                                <i class="ni ni-bold-down float-right pt-1"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body opacity-8">
                            Educational and non-profit organisations could be eligible to receive the premium package for no additional costs except sms or letter credits.
                            For more information about this topic please contact us.
                        </div>
                    </div>
                </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                       My Payment Service Provider is not listed ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    For now we only support Mollie &amp; Stripe because these are big names in the PSP market, we are planning to support more PSP in the future, also CoinBase & PayPal is on our roadmap, if you need any other PSP please contact us and we will add it to our roadmap.
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>



<section class="section-free-demo bg-secondary" style="
    padding: 40px 0;
">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <div class="section-description">
              <h3 class="display-3"> Start sending payment links</h3>
              <p class="lead mb-4">Create a payment link for your customer or use reusaable links to let all your customers pay.</p>
              <a href="http://dashboard.payrequest.io/dashboard" target="_blank" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>
                </span>
              <span class="nav-link-inner--text"> Create your payment link </span>
            </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="github-background-container" style="
    position: absolute;
    right: -120px;
    top: 15px;
">
              <i class="fal fa-link" aria-hidden="true" style="
    font-size: 200px;
    opacity: .1;
"></i>
            </div>
          </div>
        </div>
        
      </div>
    </section>



<script>
  var TxtRotate = function(el, toRotate, period) {
  this.toRotate = toRotate;
  this.el = el;
  this.loopNum = 0;
  this.period = parseInt(period, 10) || 2000;
  this.txt = '';
  this.tick();
  this.isDeleting = false;
};

TxtRotate.prototype.tick = function() {
  var i = this.loopNum % this.toRotate.length;
  var fullTxt = this.toRotate[i];

  if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
  } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
  }

  this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

  var that = this;
  var delta = 300 - Math.random() * 100;

  if (this.isDeleting) { delta /= 2; }

  if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
  } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
  }

  setTimeout(function() {
    that.tick();
  }, delta);
};

window.onload = function() {
  var elements = document.getElementsByClassName('txt-rotate');
  for (var i=0; i<elements.length; i++) {
    var toRotate = elements[i].getAttribute('data-rotate');
    var period = elements[i].getAttribute('data-period');
    if (toRotate) {
      new TxtRotate(elements[i], JSON.parse(toRotate), period);
    }
  }
  // INJECT CSS
  var css = document.createElement("style");
  css.type = "text/css";
  css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid white }";
  document.body.appendChild(css);
};
</script>