<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <img alt="image" src="./assets/logos/payrequest-logo-white.png" style="width: 200px;" class="img-fluid">
                        <p class="lead text-white">Create Payment Links For Your Customers.</p>
                        <div class="btn-wrapper mt-5">
                            <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                                <span class="btn-inner--icon"><i class="fab fa-google"></i></span>
                                <span class="btn-inner--text">Login with Google</span>
                            </a>
                            <a href="https://github.com/creativetimofficial/argon-design-system" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                                <span class="btn-inner--icon"><i class="fab fa-apple"></i></span>
                                <span class="btn-inner--text">Login With Apple</span>
                            </a>
                        </div>
                        <div class="mt-5" style="margin-bottom: 150px;">
                            <small class="text-white font-weight-bold mb-0 mr-2">USE YOUR FAVORITE PAYMENT PROVIDER</small>
                            <br>
                            <img alt="Stripe logo" src="./assets/logos/integrations/stripe_logo.png" style="height: 88px;padding: 6px;">
                            <img alt="Mollie logo" src="./assets/logos/integrations/mollie_logo.png" style="height: 88px;margin-bottom: 11px;">
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>

<section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                    <i class="fa fa-link"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">Payment Links</h6>
                                <p class="description mt-3">Create and share payment in seconds, no coding required.
                                </p>
                                <div>
                                    <p class="description mt-3"><span class="badge badge-pill badge-primary">NEW</span><b> Create your own background </b></p></div>
                                <a href="#" class="btn btn-primary mt-4">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                                    <i class="fa fa-bells"></i>
                                </div>
                                <h6 class="text-success text-uppercase">Payment Reminders</h6>
                                <p class="description mt-3">Automate your invoice proces, with automatic reminders.
                                </p>
                                <div>
                                    <p class="description mt-3"><span class="badge badge-pill badge-success">COMING SOON</span><b> Send SMS reminders </b></p></div>
                                <a href="#" class="btn btn-success mt-4">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                                    <i class="fa fa-browser"></i>
                                </div>
                                <h6 class="text-warning text-uppercase">Payment Pages</h6>
                                <p class="description mt-3">Create and share your payment page with everyone via social media.</p>
                                <div>
                                    <p class="description mt-3"><span class="badge badge-pill badge-warning">BETA</span><b> Launched next month </b></p></div>
                                <a href="#" class="btn btn-warning mt-4 disabled">Coming soon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Start Powerful Dashboard Info Section -->
<section class="section section-lg">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2">
                <img src="https://payrequest.io/wp-content/uploads/2019/08/Schermafbeelding-2019-08-18-om-10.33.03.png" class="img-fluid floating">
            </div>
            <div class="col-md-6 order-md-1">
                <div class="pr-md-5">
                    <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <h3>Powerful Dashboard</h3>
                    <p>The PayRequest Dashboard lets you manage all your payment links and more, with a simple overview you can view all status and reminder that are send, also you get a log update when someone views your payment link.</p>
                    <ul class="list-unstyled mt-5">
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="badge badge-circle badge-success mr-3">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="mb-0">Create &amp; Send payment links</h6>
                                </div>
                            </div>
                        </li>
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="badge badge-circle badge-success mr-3">
                                        <i class="fa fa-share-alt"></i>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="mb-0">Connect Payment Service Providers</h6>
                                </div>
                            </div>
                        </li>
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="badge badge-circle badge-success mr-3">
                                        <i class="fa fa-analytics"></i>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="mb-0">Track logs and payment status</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Powerful Dashboard Info Section -->

<!-- Start What is PayRequest Section -->
<section class="section section-lg pt-0">
    <div class="container">
        <div class="card bg-gradient-warning shadow-lg border-0">
            <div class="p-5">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="pl-md-5">
                    
                    <h3>Featured on</h3>
                    
                    
                    
                
                </div>
                        <p class="lead text-white mt-3">

<img alt="image" src="https://d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/344fe8a2-alternative-to.svg" style="width: 200px;margin: 25px;" class="img-fluid">

<img src="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" alt="" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" srcset="" style="
    width: 200px;
    margin: 25px;
">



<img src="https://d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/2b38703b-finances-online-logo.svg" alt="" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" srcset="" style="
    width: 200px;
    margin: 25px;
">


</p>
                    </div>
                    <div class="col-lg-3 ml-lg-auto">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What is PayRequest Section -->

<!-- Start Payment Links Info Section -->
<section class="section bg-secondary">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-md-6">
                <div class="card bg-default shadow border-0">
                    <img src="https://payrequest.io/wp-content/uploads/2019/08/Schermafbeelding-2019-08-17-om-21.58.08.png" class="card-img-top">
                    <blockquote class="card-blockquote">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                            <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                            <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                        </svg>
                        <h4 class="display-3 font-weight-bold text-white">Beautiful Payment Links</h4>
                        <p class="lead text-italic text-white">Change the look &amp; feel or your payment links, add your own logo, company name and use Unsplash.com or youw own background.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-5">
                    <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <h3>Customize your Payment Links</h3>
                    <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
                    <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
                    <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
                
                </div>
            </div>
        </div>
    </div>
</section>
<b> <!-- End Payment Links Info Section --> </b>



<div class="section features-6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">Payment Links for Freelancers</h5>
                        <p>As a freelancer you have many new projects let payrequest save you time to send invoices, just upload your invoice and save time with sending reminders..</p>
                    
                    </div>
                </div>
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="fa fa-user-tie"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">Payment Links for Service Providers</h5>
                        <p>There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
                    
                    </div>
                </div>
                <div class="info info-horizontal info-hover-primary">
                    <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                        <i class="fa fa-hand-holding-heart"></i>
                    </div>
                    <div class="description pl-4">
                        <h5 class="title">Payment Links for Non Profits</h5>
                        <p>That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment. If everything I did failed - which it doesn't.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-10 mx-md-auto">
                <img class="ml-lg-5" src="https://i.imgur.com/UuHga2M.png" width="100%">
            </div>
        </div>
    </div>
</div>


<div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Frequently asked question</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do I order?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How can i make the payment?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How much time does it take to receive the order?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                      Can I resell the products?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-controls="collapseFifth">
                      Where do I find the shipping details?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


