<div class="position-relative">
	<!-- Hero for FREE version -->
	<section class="section section-lg section-shaped">
		<!-- Background circles -->
		<div class="shape shape-style-self shape-primary">
			<span class="span-150"></span>
			<span class="span-50"></span>
			<span class="span-50"></span>
			<span class="span-75"></span>
			<span class="span-100"></span>
			<span class="span-75"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
		</div>
		<div class="container shape-container d-flex align-items-center">
			<div class="col px-0">
				<div class="row align-items-center justify-content-center">
					<div class="col-lg-6 text-center">
						<h1 class="text-white">PayRequest Integrations</h1>
						<p class="lead text-white">
							PayRequests offers many integrations to use for your payment links.
						</p>
					
					
					</div>
				</div>
			</div>
		</div>
		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			     xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
</div>

<section class="section section-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-header mt-2">
						<div class="float-left">
							<i class="fa fa-credit-card"></i>
							<p class="d-inline"> Payment Provider</p>
						</div>
					</div>
					<div class="card-body text-center p-4">
						<a href="https://www.mollie.com/" target="_blank">
							<img src="https://pbs.twimg.com/profile_images/1181112639101001728/NBqdcmm7_400x400.png"
							     alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
						</a>
						<h4 class="card-title mt-3 mb-0">Mollie</h4>
						<p class="card-description">Mollie helps businesses of all sizes to build more efficiently with a solid but easy-to-use payment solution. Start growing your business today.
						</p>
						<a href="/integrations/mollie" class="btn btn-md btn-github btn-icon mb-3 mb-sm-0">
							<span class="btn-inner--icon"><i class="fal fa-info-circle"></i></span>
							<span class="btn-inner--text">More information</span>
						</a>

					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-header mt-2">
						<div class="float-left">
							<i class="fa fa-credit-card"></i>
							<p class="d-inline"> Payment Provider</p>
						</div>
					</div>
					<div class="card-body text-center p-4">
						<a href="https://stripe.com/" target="_blank">
							<img src="https://pbs.twimg.com/profile_images/778378996580888577/MFKh-pNn_400x400.jpg"
							     alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
						</a>
						<h4 class="card-title mt-3 mb-0">Stripe</h4>
						<p class="card-description">Stripe is the best software platform for running an internet
							business. Billions of dollars every year for businesses around the world.
						</p>

						<a href="/integrations/stripe" class="btn btn-md btn-github btn-icon mb-3 mb-sm-0">
							<span class="btn-inner--icon"><i class="fal fa-info-circle"></i></span>
							<span class="btn-inner--text">More information</span>
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="card">
					<div class="card-header mt-2">
						<div class="float-left">
							<i class="fa fa-info-circle"></i>
							<p class="d-inline">  Coming soon</p>
						</div>
					</div>
					<div class="card-body text-center p-4">
						<a href="https://stripe.com/" target="_blank">
							<img src="https://pbs.twimg.com/profile_images/1145724063106519040/b1L98qh9_400x400.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
						</a>
						<h4 class="card-title mt-3 mb-0">PayPal</h4>
						<p class="card-description">PayPal is an electronic commerce (e-commerce) company that facilitates payments between parties through online funds</p>

						<a href="/integrations/stripe" class="btn disabled btn-md btn-github btn-icon mb-3 mb-sm-0">
							<span class="btn-inner--icon"><i class="fal fa-info-circle"></i></span>
							<span class="btn-inner--text">Coming soon</span>
						</a>
					</div>
				</div>
			</div>
		
		
		</div>
	
	</div>
</section>