<main>
  
	
<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">PayRequest Integrations</h1>
                        <p class="lead text-white">
                            PayRequests offers many integrations to use for your payment links.
                        </p>
                        
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>



<!-- Start Powerful Dashboard Info Section -->
<section class="section section-lg">
<div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-basket d-inline text-info"></i>
                    <p class="d-inline">H-23</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(16px, 25px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="https://pbs.twimg.com/profile_images/1181112639101001728/NBqdcmm7_400x400.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">Mollie</h4>
                  <p class="card-description">We are happy to work at such a great project.</p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="./assets/img/faces/team-1.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="./assets/img/faces/team-2.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="./assets/img/faces/team-3.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="./assets/img//faces/team-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-button-power d-inline text-success"></i>
                    <p class="d-inline">F-43</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="./assets/img/spotify.jpeg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">Spotify</h4>
                  <p class="card-description">We strive to embrace and drive change in our industry.</p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="./assets/img/faces/team-1.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="./assets/img/faces/team-2.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="./assets/img/faces/team-3.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="./assets/img//faces/team-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-building d-inline text-danger"></i>
                    <p class="d-inline">J-11</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="./assets/img/dribbble.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">Dribbble</h4>
                  <p class="card-description">The time has come to bring our plans and ideas to life.</p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="./assets/img/faces/team-1.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="./assets/img/faces/team-2.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="./assets/img/faces/team-3.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="./assets/img//faces/team-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-spaceship d-inline text-warning"></i>
                    <p class="d-inline">A-11</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="./assets/img/tim.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">CreativeTim</h4>
                  <p class="card-description">We are developing the best design projects. </p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="./assets/img/faces/team-1.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="./assets/img/faces/team-2.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="./assets/img/faces/team-3.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="./assets/img//faces/team-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-umbrella-13 d-inline text-primary"></i>
                    <p class="d-inline">A-11</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="./assets/img/dropbox.png" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">DropBox</h4>
                  <p class="card-description">It is important to save every project safely with our app.</p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="./assets/img/faces/team-1.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                      <img alt="Image placeholder" src="./assets/img/faces/team-2.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                      <img alt="Image placeholder" src="./assets/img/faces/team-3.jpg">
                    </a>
                    <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                      <img alt="Image placeholder" src="./assets/img//faces/team-4.jpg">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="ni ni-bus-front-12 d-inline"></i>
                    <p class="d-inline">E-28</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown">
                      <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                        <a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4">
                  <a href="javascript:;">
                    <img src="./assets/img/unass.jpg" alt="Circle image" class="img-fluid rounded-circle shadow" style="width: 100px;">
                  </a>
                  <h4 class="card-title mt-3 mb-0">Unassigned</h4>
                  <p class="card-description">Here you can add your description and bellow add your members. </p>
                  <h5 class="card-title mt-4">Members</h5>
                  <div class="avatar-group">
                    <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Add memberss">
                      <i class="ni ni-key-25"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="mt-5">
            <ul class="pagination float-left">
              <li class="page-item">
                <a class="page-link" href="javascript:;" aria-label="Previous">
                  <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">...</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;">6</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:;" aria-label="Next">
                  <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
                </a>
              </li>
            </ul>
            <div class="text-right">
              <p>Showing 6 out of 36</p>
              <div>
          </div></div></footer>
        </div>
        </section>