<div class="position-relative">
	<!-- Hero for FREE version -->
	<section class="section section-lg section-shaped">
		<!-- Background circles -->
		<div class="shape shape-style-self shape-primary">
			<span class="span-150"></span>
			<span class="span-50"></span>
			<span class="span-50"></span>
			<span class="span-75"></span>
			<span class="span-100"></span>
			<span class="span-75"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
		</div>
		<div class="container shape-container d-flex align-items-center">
			<div class="row text-center justify-content-center">
				<div class="col-lg-8">
					<h3 class="display-3 text-white">Mollie integration
					
					</h3>
					<p class="lead text-white">Help us make PayRequest better, and also test new features!
						It is free to signup for our beta program, only thing you need to do is give us some feedback.
					</p>
				</div>
			</div>
		</div>
		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			     xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
</div>

<style>
.bubble-number {
    display: block;
    width: 50px;
    height: 50px;
    background: url(https://chatlio.com/img/bg-bubble-number.svg) no-repeat center;
    background-size: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: -20px;
    right: 0;
}
.img-wrap {
    max-height: 220px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
}
.img-wrap img {
    background: #f5f9fc;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

</style>

<div class="section features-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center mx-auto">


 <div class="row">
  <div class="col-lg-2 col-md-6 col-xs-6 col-sm-6">
     <img srcset="https://stripe-images.s3.us-west-1.amazonaws.com/works-with/d878ece6aeae63e412befcdc8b0bdf7bfa283a6e" sizes="100%" alt="PayRequest">
    </div>

      <div class="col-lg-1 col-md-6 col-xs-6 col-sm-6">
  <i class="fa fa-plus"></i>
</div>

    <div class="col-lg-2 col-md-6 col-xs-6 col-sm-6">
     <img srcset="https://stripe-images.s3.us-west-1.amazonaws.com/works-with/d878ece6aeae63e412befcdc8b0bdf7bfa283a6e" sizes="100%" alt="Mollie">
    </div>
   </div>


				<h3 class="display-3">How to connect Mollie with PayRequest</h3>
				<p class="lead">
					Just click the button below and fill in your account details or connect your google account.</p>
<br />


<div class="row">
      <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-easing="delay-slide" data-aos-duration="1300" data-aos-delay="400" data-aos-offset="-100">
        <div class="img-wrap">
          <img src="https://chatlio.com/img/img-features-sec1-1.png" alt="confirm chatlio screenshot">
          <span class="bubble-number">1</span>
        </div>
        <p>
          1. First, you need to authorize and connect the Chatlio app in Slack.
        </p>
      </div>
      <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-easing="delay-slide" data-aos-duration="1300" data-aos-delay="500" data-aos-offset="-100">
        <div class="img-wrap">
          <img src="https://chatlio.com/img/img-features-sec1-1.png" alt="get widget code snippet screenshot">
          <span class="bubble-number">2</span>
        </div>
        <p>2. Next, get the Chatlio widget code snippet from our website.</p>
      </div>
      <div class="col-sm-4 aos-init aos-animate" data-aos="fade-up" data-aos-easing="delay-slide" data-aos-duration="1300" data-aos-delay="600" data-aos-offset="-100">
        <div class="img-wrap">
          <img src="https://chatlio.com/img/img-features-sec1-1.png" alt="start chatting screenshot">
          <span class="bubble-number">3</span>
        </div>
        <p>3. Start chatting with your visitors on your site in Slack.</p>
      </div>
    </div>


					<a href="https://beta.payrequest.io/dashboard" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
							<span class="btn-inner--icon"><i class="fal fa-user"></i></span>
							<span class="btn-inner--text">Sign up for Beta access</span>
						</a>
			</div>
		</div>
		<div>

		</div>
	</div>
</div>


