<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">Open Startup</h1>
                        <p class="lead text-white">
                            At PayRequest we take privacy and security serious, here you can read what we do to protect your data and privacy.
                        </p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>





<div class="accordion-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">


		<div class="wrapper col-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="chart-0" style="display: block; height: 256px; width: 392px;" width="784" height="512" class="chartjs-render-monitor"></canvas></div>

		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		

						<h2>Website Visitors</h2>
			<p>Like most website operators, PayRequest.io collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. PayRequest.io's purpose in collecting non-personally identifying information is to better understand how PayRequest.io's visitors use its website. From time to time, PayRequest.io may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
			<p>PayRequest.io also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://payrequest.io blog posts. PayRequest.io only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
			
						<h2>Gathering of Personally-Identifying Information</h2>
			<p>Certain visitors to PayRequest.io's websites choose to interact with PayRequest.io in ways that require PayRequest.io to gather personally-identifying information. The amount and type of information that PayRequest.io gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://payrequest.io to provide a username and email address.</p>
			
						<h2>Security</h2>
			<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
			
						<h2>Advertisements</h2>
			<p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by PayRequest.io and does not cover the use of cookies by any advertisers.</p>
			

						<h2>Links To External Sites</h2>
			<p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.</p>
			<p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>
			
			
			
						<h2>Aggregated Statistics</h2>
			<p>PayRequest.io may collect statistics about the behavior of visitors to its website. PayRequest.io may display this information publicly or provide it to others. However, PayRequest.io does not disclose your personally-identifying information.</p>
			
			
						<h2>Cookies</h2>
			<p>To enrich and perfect your online experience, PayRequest.io uses "Cookies", similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
			<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. PayRequest.io uses cookies to help PayRequest.io identify and track visitors, their usage of https://payrequest.io, and their website access preferences. PayRequest.io visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using PayRequest.io's websites, with the drawback that certain features of PayRequest.io's websites may not function properly without the aid of cookies.</p>
			<p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to PayRequest.io's use of cookies.</p>
			
			
			
						<h2>Privacy Policy Changes</h2>
			<p>Although most changes are likely to be minor, PayRequest.io may change its Privacy Policy from time to time, and in PayRequest.io's sole discretion. PayRequest.io encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>
			
			
						  
			  <h2></h2>			  
			  	<p></p>			
			
			<h2>Credit & Contact Information</h2>
							<p>This privacy policy was created at <a style="color:inherit;text-decoration:none;" href="https://termsandconditionstemplate.com/privacy-policy-generator/" title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>. If you have any questions about this Privacy Policy, please contact us via <a href="mailto:info@payrequest.io">email</a>.</p>
					



            </div>
        </div>
    
    </div>
</div>

