<section class="section section-lg bg-gradient-default" style="padding-top: 1rem !important; padding-bottom: 1rem;">
      <div class="container pt-lg pb-100">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">20+ International Payments Methods
</h2>
            <p class="lead text-white">Thanks to all our payment provider integrations we can offer all populair payment methods.

</p>
          </div>
        </div>
       <div class="row">

                <div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-default shadow rounded-circle text-info">
                      <img src="../assets/img/payment-icons/creditcard@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase">Credit Card
</h5>
                    <p class="description opacity-8 text-white">Accept worldwide all creditcard like MasterCard, VISA, American Express.
</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-default shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/ideal@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase">iDeal
</h5>
                    <p class="description opacity-8 text-white">Accept worldwide all creditcard like MasterCard, VISA, American Express.
</p>
                  </div>
                </div>





<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-default shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/paypal@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase">PayPal
</h5>
                    <p class="description opacity-8 text-white">Accept worldwide all creditcard like MasterCard, VISA, American Express.
</p>
                  </div>
                </div><div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <img src="../assets/img/payment-icons/visa@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase">VISA
</h5>
                    <p class="description opacity-8 text-white">3D Secure is an authentication method used to verify a customer's identity before an online card purchase.


</p>
                  </div>
                </div>



<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="../assets/img/payment-icons/mastercard@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase">MASTERCARD
</h5>
                    <p class="description opacity-8 text-white">The complete database is always encrypted with the industry-standard AES (alias Rijndael) encryption algorithm using a 256 bit key.
</p>
                  </div>
                </div>


<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="../assets/img/payment-icons/sofort@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">SOFORT BANKING

</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>

<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/Przelewy24@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">PRZELEWY24

</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>





<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/maestro@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">MAESTRO
</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>


<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/paysafecard@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">PAYSAFECARD
</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>



<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/klarna@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">PAYSAFECARD
</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>



<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/inghomepay@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">PAYSAFECARD
</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div><div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <img src="https://payrequest.io/assets/img/payment-icons/giropay@2x.png" class="payment-icon-style">
                    </div>
                    <h5 class="info-title text-white text-uppercase" text-uppercase="">PAYSAFECARD
</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>
              </div>



      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>