
<style>
.section-content .image-container {
    height: 400px;
}
.section-content .image-container .img-comments {
    z-index: 3;
    left: -100px;
    top: -40px;
}
.section-content .image-container img {
    position: absolute;
    width: 100%;
    max-width: 380px;
}
[class*=shadow] {
    transition: all .15s ease;
}
.section-content .image-container .img-blog {
    z-index: 4;
    left: 100px;
    top: 20px;
}
.profile-page .card-profile .card-profile-image img, .shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
rounded {
    border-radius: .25rem!important;
}
</style>


<section class="section-content" style="padding: 80px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt-md-5 order-md-2 order-lg-1">
            <div class="image-container">
              <img class="img shadow rounded img-comments w-100" alt="Payrequest Integrions screen" src="https://i.imgur.com/NBB9yC7.png">
              <img class="img shadow rounded img-blog mt-5 w-100" alt="Payrequest Request overview" src="https://i.imgur.com/ggVaoJu.png">
            </div>
          </div>
          <div class="col-lg-6 mx-auto order-md-1">
            <div class="section-description">
              <h2 class="display-3">PayRequest Dashboard<span class="text-success">Manage payment requests.</span></h2>
              <p class="lead">The PayRequest Dashboard lets you manage all your payment links and more, with a simple overview you can view all status and reminders that are send, you will also get a log update when someone views, chooses payment type or pays your payment link.

</p>
            </div>
          </div>
        </div>
      </div>
    </section>