<main>
  
  
<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">PayRequest Pricing</h1>
                        <p class="lead text-white">
                            Order PayRequest Premium and say goodbye to any fees.
                        </p>
                        
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>



<section class="pricing-3" style="background-image: url('../assets/img/ill/1.svg')" id="pricing-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center my-5">
              <h3 class="display-3">Simple pricing</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 pr-md-0">
              <div class="card card-pricing text-center bg-default">
                <div class="card-header bg-transparent">
                  <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">payrequest premium</h4>
                </div>
                <div class="card-body px-lg-6">
                  <div class="display-2 text-white">€7,99</div>
                  <span class=" text-muted">/ per month</span>
                  <ul class="list-unstyled my-4">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-folder-17 text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">0% transaction fee</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-camera-compact text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">Whitelabel payment link &amp; page</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-chart-pie-35 text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">Statistics page &amp; Logs</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary mb-3">Start free trial</button>
                </div>
                <div class="card-footer bg-transparent">
                  <a href="javascript:;" class=" text-muted">No creditcard required</a>
                </div>
              </div>
            </div>
            <div class="col-md-7 pl-md-0">
              <div class="card card-pricing border-0 text-center my-5">
                <div class="card-header bg-transparent">
                  <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">free forever</h4>
                </div>
                <div class="card-body px-lg-6">
                  <div class="card-description"> PayRequest is free to use, you only pay per succesfull transaction, but we also offering extra features for business that needs more tools.

</div>
                  <table class="table table-bordered mt-3">
                    <tbody>
                      <tr>
                        <td>2% per transaction fe
</td>
                        <td>Unlimited integrations
</td>
                      </tr>
                      <tr>
                        <td>Send E-mail &amp; SMS reminders
</td>
                        <td>Payment Links logs

</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer">
                  <a href="javascript:;" class="text-primary">Create new account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>