<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h1 class="text-white">PayRequest Pricing</h1>
                        <p class="lead text-white">
                            Order PayRequest Premium and say goodbye to any fees.
                        </p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>



<section class="pricing-3" style="background-image: url('../assets/img/ill/1.svg')" id="pricing-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center my-5">
              <h3 class="display-3">Simple pricing</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 pr-md-0">
              <div class="card card-pricing text-center bg-default">
                <div class="card-header bg-transparent">
                  <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">PayRequest Premium</h4>
                </div>
                <div class="card-body px-lg-6">
                  <div class="display-2 text-white">€7,99</div>
                  <span class=" text-muted">/ per month</span>
                  <ul class="list-unstyled my-4">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-folder-17 text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">0% transaction fee</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-camera-compact text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">Whitelabel payment link &amp; page</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="icon icon-xs icon-shape icon-shape-primary shadow rounded-circle">
                            <i class="ni ni-chart-pie-35 text-white"></i>
                          </div>
                        </div>
                        <div>
                          <span class="pl-2 text-sm">Statistics page &amp; Logs</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <button type="button" class="btn btn-primary mb-3">Coming soon</button>
                </div>
                <div class="card-footer bg-transparent">
                  <a href="javascript:;" class=" text-muted">Available begin 2020</a>
                </div>
              </div>
            </div>
            <div class="col-md-7 pl-md-0">
              <div class="card card-pricing border-0 text-center my-5">
                <div class="card-header bg-transparent">
                  <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">free forever</h4>
                </div>
                <div class="card-body px-lg-6">
                  <div class="card-description"> PayRequest is free to use, you only pay per succesfull transaction, but we also offering extra features for business that needs more tools.</div>
                  <table class="table table-bordered mt-3">
                    <tbody>
                      <tr>
                        <td>2% per transaction fee</td>
                        <td>Unlimited integrations</td>
                      </tr>
                      <tr>
                        <td>Send E-mail &amp; SMS reminders</td>
                        <td>Payment Links logs</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer">
                  <a href="javascript:;" class="text-primary">Create new account</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



<div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2 class="title mb-3 mt-5">Frequently asked questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is PayRequest ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                  <div class="card-body opacity-8">

PayRequest is a Payment Platform where you can create payment links via Stripe or Mollie, and directly send reminder to your customers via clients via email or sms.

With PayRequest you can create Beautiful Payment Links and change the look & feel of your payment link pages, add your own logo, change the company avatar or add even your own background.

                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      What is a Payment Link ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body opacity-8">

A payment link is a unique link you can share via email or sms with contains a custom amount and a personal message for the reciever, on the payment link page they can choose a payment method like credit card an pay the requested amounnt, after a succesfull payment you will get a notification about it.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What are the costs for using payrequest ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                   Signup for Payrequest and creating payment links is free, you only pay the transactions costs of Mollie or Stripe, and we topup that with 2% service fee to cover the costs of our platform.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-primary text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                       My Payment Service Provider is not listed ?
                      <i class="ni ni-bold-down float-right pt-1"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body opacity-8">
                    For now we only support and Mollie & Stripe because this are big name in the PSP market, we are planning to support more PSP in the future, also CoinBase & PayPal is on our roadmap, if you need any other PSP please contact us and we will add it to our roadmap.
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>