<section class="section section-lg bg-gradient-default" style="
    padding-top: 1rem !important;
    padding-bottom: 1rem;
">
      <div class="container pt-lg pb-100">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">All Security Features</h2>
            <p class="lead text-white">We do everything to secure our platform and your payments.</p>
          </div>
        </div>
       <div class="row">

                <div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <i class="fa fa-lock text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">PCI DSS compliant

</h5>
                    <p class="description opacity-8 text-white">Use your own logo &amp; background, insert your own title and description and of course amount.

</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <i class="fa fa-bells text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Fully GDPR compliant


</h5>
                    <p class="description opacity-8 text-white">We can send a email or sms reminder once a time but also per week, month or even daily.

</p>
                  </div>
                </div>





<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <i class="fa fa-sync-alt text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">CSRF Protection


</h5>
                    <p class="description opacity-8 text-white">We use Cross Site Request Forgery and some bla bla bla more.
</p>
                  </div>
                </div><div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-primary">
                      <i class="fa fa-lock-alt text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">3D Secure authentication

</h5>
                    <p class="description opacity-8 text-white">3D Secure is an authentication method used to verify a customer's identity before an online card purchase.


</p>
                  </div>
                </div>



<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <i class="fa fa-credit-card text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Secure Data Encryption
</h5>
                    <p class="description opacity-8 text-white">The complete database is always encrypted with the industry-standard AES (alias Rijndael) encryption algorithm using a 256 bit key.
</p>
                  </div>
                </div>


<div class="col-md-4">
                  <div class="info info-hover-default">
                    <div class="icon icon-shape bg-primary shadow rounded-circle text-info">
                      <i class="fab fa-aws text-white" aria-hidden="true"></i>
                    </div>
                    <h5 class="info-title text-white">Reliable Infrastructure

</h5>
                    <p class="description opacity-8 text-white">we use the best cloud and software which results in 99,999% uptime on all our services.
</p>
                  </div>
                </div>
              </div>



      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>