<!-- Start What is PayRequest Section -->
<section class="section section-lg pt-0">
    <div class="container">
            <div class="card bg-gradient shadow-lg border-0" style="background-color: #f4f5f7 !important;">
            <div class="p-5">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="pl-md-5">  
                    <h3>As seen on</h3>
                </div>
                <p class="lead text-white mt-3">
                    <a href="https://alternativeto.net/software/payrequest/" target="_blank" style="width:25%;float:left;padding:20px">
                        <img alt="Alternative.to" src="./assets/img/asseenon/alternative-to.svg" style="width: 100%;" class="img-fluid">
                    </a>
                    <a href="https://www.producthunt.com/posts/payrequest/" target="_blank" style="width:25%;float:left;padding:20px">
                    <img src="./assets/img/asseenon/product-hunt.svg" alt="Product hunt" data-src-desktop-1x="./assets/img/asseenon/product-hunt.svg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" srcset="" style="width: 100%;">
                    </a>
                    <a href="https://www.capterra.com/p/198184/PayRequest/" target="_self" style="width:25%;float:left;padding:20px">
                        <img src="./assets/img/asseenon/capterra-logo.svg" alt="Capterra" data-src-desktop-1x="./assets/img/asseenon/capterra-logo.svg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" srcset="" style="width: 100%;">
                    </a>
                      <a href="https://reviews.financesonline.com/p/payrequest/" target="_self" style="width:25%;float:left;padding:20px">
                        <img src="https://d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/2b38703b-finances-online-logo.svg" alt="Finances online" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/www.rivers.im/get-rivers/1ff6afdc-product-hunt.svg" srcset="" style="width: 100%;">
                    </a>
                </p>
                    </div>
                    <div class="col-lg-3 ml-lg-auto">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What is PayRequest Section -->
