<style>
    .twitterimg {
        border-radius: 50%;
        width: 48px;
        height: 48px;
    }
    .testimonial-section-new a {
        color: inherit;
    }
    .testimonial-section-new .card {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
        border-color: #d9e3ea;
        border-radius: 0.5rem;
        letter-spacing: -0.01em;
    }
    .nameandtag h6 {
        font-weight: 700;
    }
    .nameandtag span {
        color: #55595f;
        font-size: 0.75rem;
    }
    .bird {
        color: #1ea1f2;
        height: 1.25rem;
        width: 1.25rem;
        margin-left: auto;
    }
    .tweet-text {
        word-break: break-word;
        font-size: 16px;
    }
    .tweet-text p {
        white-space: pre-line;
        letter-spacing: -0.16px;
        line-height: 24px;
    }
    .testimonial-section-new .card-footer {
        background: transparent;
    }

    .testimonial-section-new .card-footer a {
        font-size: 14px;
        color: #9ba9b4;
    }

</style>


<section class="testimonial-section-new">
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="card-head p-3 d-flex flex-row">
                    <a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/testimonialto.appspot.com/o/twitter-profile-image%2FPartydoosMedia-1207751785940684803?alt=media&token=38ed5327-53ef-4b05-8151-4a5925dcbd48" class="twitterimg" />
                    </a>
                    <div class="nameandtag pl-3">
                        <h6><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">PartydoosMedia</a></h6>
                        <span><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">@partydoosmedia</a></span>
                    </div>
                    <div class="bird"><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                        </g>
                    </svg></a></div>
                </div>
                <div class="card-body">
                    <div class="tweet-text">
                        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little</p>
                        <a href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer"><img class="mt-2 rounded-lg cursor-pointer" src="https://pbs.twimg.com/media/E3Sfw1rXMAMWxvI.jpg"></a>
                    </div>
                    <div class="card-footer">
                        <p><a class="hover:underline" href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer">Jun 10, 2021</a></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-head p-3 d-flex flex-row">
                    <a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/testimonialto.appspot.com/o/twitter-profile-image%2FPartydoosMedia-1207751785940684803?alt=media&token=38ed5327-53ef-4b05-8151-4a5925dcbd48" class="twitterimg" />
                    </a>
                    <div class="nameandtag pl-3">
                        <h6><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">PartydoosMedia</a></h6>
                        <span><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">@partydoosmedia</a></span>
                    </div>
                    <div class="bird"><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                        </g>
                    </svg></a></div>
                </div>
                <div class="card-body">
                    <div class="tweet-text">
                        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little</p>
                    </div>
                    <div class="card-footer">
                        <p><a class="hover:underline" href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer">Jun 10, 2021</a></p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-head p-3 d-flex flex-row">
                    <a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/testimonialto.appspot.com/o/twitter-profile-image%2FPartydoosMedia-1207751785940684803?alt=media&token=38ed5327-53ef-4b05-8151-4a5925dcbd48" class="twitterimg" />
                    </a>
                    <div class="nameandtag pl-3">
                        <h6><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">PartydoosMedia</a></h6>
                        <span><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">@partydoosmedia</a></span>
                    </div>
                    <div class="bird"><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                        </g>
                    </svg></a></div>
                </div>
                <div class="card-body">
                    <div class="tweet-text">
                        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little</p>
                    </div>
                    <div class="card-footer">
                        <p><a class="hover:underline" href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer">Jun 10, 2021</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-head p-3 d-flex flex-row">
                    <a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/testimonialto.appspot.com/o/twitter-profile-image%2FPartydoosMedia-1207751785940684803?alt=media&token=38ed5327-53ef-4b05-8151-4a5925dcbd48" class="twitterimg" />
                    </a>
                    <div class="nameandtag pl-3">
                        <h6><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">PartydoosMedia</a></h6>
                        <span><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">@partydoosmedia</a></span>
                    </div>
                    <div class="bird"><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                        </g>
                    </svg></a></div>
                </div>
                <div class="card-body">
                    <div class="tweet-text">
                        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little</p>
                        <a href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer"><img class="mt-2 rounded-lg cursor-pointer" src="https://pbs.twimg.com/media/E3Sfw1rXMAMWxvI.jpg"></a>
                    </div>
                    <div class="card-footer">
                        <p><a class="hover:underline" href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer">Jun 10, 2021</a></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-head p-3 d-flex flex-row">
                    <a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">
                        <img src="https://firebasestorage.googleapis.com/v0/b/testimonialto.appspot.com/o/twitter-profile-image%2FPartydoosMedia-1207751785940684803?alt=media&token=38ed5327-53ef-4b05-8151-4a5925dcbd48" class="twitterimg" />
                    </a>
                    <div class="nameandtag pl-3">
                        <h6><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">PartydoosMedia</a></h6>
                        <span><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer">@partydoosmedia</a></span>
                    </div>
                    <div class="bird"><a href="https://twitter.com/PartydoosMedia" target="_blank" rel="noreferrer"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                        <g>
                            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                        </g>
                    </svg></a></div>
                </div>
                <div class="card-body">
                    <div class="tweet-text">
                        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little</p>
                    </div>
                    <div class="card-footer">
                        <p><a class="hover:underline" href="https://twitter.com/PartydoosMedia/status/1402928534277009416" target="_blank" rel="noreferrer">Jun 10, 2021</a></p>
</div>
</div>
</div>
</div>
</section>