<div class="position-relative">
	<!-- Hero for FREE version -->
	<section class="section section-lg section-shaped">
		<!-- Background circles -->
		<div class="shape shape-style-self shape-primary">
			<span class="span-150"></span>
			<span class="span-50"></span>
			<span class="span-50"></span>
			<span class="span-75"></span>
			<span class="span-100"></span>
			<span class="span-75"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
			<span class="span-50"></span>
			<span class="span-100"></span>
		</div>

		<!-- SVG separator -->
		<div class="separator separator-bottom separator-skew zindex-100">
			<svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
			     xmlns="http://www.w3.org/2000/svg">
				<polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
			</svg>
		</div>
	</section>
</div>

<section class="pricing-3" style="background-image: url('../assets/img/ill/1.svg')" id="pricing-4">
	<div class="container">
		<div class="row text-center justify-content-center">
			<div class="col-lg-8">
				<h3 class="display-3 text-white">
                    <span class="text-success">24x7 livechat support</span>
                </h3>
				<p class="lead text">Asking us questions, anyime and anything you want, you speak directly to our support and developers..</p>
			</div>
		</div>
		<div class="row row-grid mt-5">
			<div class="col-lg-6">
				<div class="info info-horizontal bg-white">
					<div class="icon icon-shape icon-shape-info rounded-circle text-white">
						<i class="ni ni-hat-3 text-info"></i>
					</div>
					<div class="description pl-4">
						<h5 class="title text-info">Research & Development</h5>
						<p>We are a Fintech company, and we want to change the payment industry with great tools that save time and make doing business a lot easier.
							
						</p>
					</div>
				</div>
			</div>
		
		</div>
		<div class="row row-grid">
			<div class="col-lg-6">
				<div class="info info-horizontal bg-white">
					<div class="icon icon-shape icon-shape-danger rounded-circle text-white">
						<i class="ni ni-trophy text-danger"></i>
					</div>
					<div class="description pl-4">
						<h5 class="title text-danger">Simple Pricing</h5>
						<p>People are so scared to lose that they don't even try. Like, one thing people can't say is
							that I'm not trying, and I'm not trying my hardest.</p>
					</div>
				</div>
			</div>
				<div class="col-lg-6">
				<div class="info info-horizontal bg-white">
					<div class="icon icon-shape icon-shape-warning rounded-circle text-white">
						<i class="ni ni-istanbul text-warning"></i>
					</div>
					<div class="description pl-4">
						<h5 class="title text-warning">Reliable Infrastructure</h5>
						<p>We have many years experience in the hosting industry, we use the best cloud and software wich results in 99,999% uptime on all our services..</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="section features-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center mx-auto">
				<h3 class="display-3">We are the future of payment requests</h3>
				<p class="lead">The time is now to be okay to be the greatest you. Would you believe in what you believe
					in, if you were the only one who believed it?</p>
			</div>
		</div>
		<div>
			<div class="col-lg-12 mr-auto text-left mt-4">
				<div class="card bg-default shadow border-0">
<div style="background-size: cover;background-position: bottom;background-image:url('../assets/img/about/aboutus-section.jpeg');height: 350px;"
                         class="card-img-top"></div>
					<blockquote class="card-blockquote">
						<svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
						     class="svg-bg">
							<polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
							<polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
						</svg>
						<h4 class="display-4 text-white text-upper">Simple Payments Solutions</h4>
						<p class="lead text-italic text-white">Nobody want a complicated payment experience, we create
							simple payment solutions for business around the world. </p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>