<div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-self shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container shape-container d-flex align-items-center">
            <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-7 text-center">

<div class="icon icon-shape bg-gradient-white shadow rounded-circle mb-3"><i class="fal fa-tools text-info" aria-hidden="true"></i></div>
                        
                      <h1 class="text-white">Webmaster Tools
</h1>
                        <p class="lead text-white">
PayRequest is a great tool for Webmasters, but PayRequest wouldn`t exist without this great webaster tools below.
</p>
                        
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
</div>


<div class="section section-cards">
      <div class="container">
 <h3 class="h4 text-info text-center font-weight-bold mb-4">We create a summary of the best tools for webmasters and developers.</h3>
        <div class="row">

          <div class="col-md-6 col-lg-4">
<div class="card card-blog" data-background="pattern">
<div class="card-body">
<h5 class="card-title text-center">
<i class="fa fa-cloud"></i> Check your DNS</h5>
<p class="card-description">
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> IntoDNS</button></a>
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> IntoDNS</button></a>
</p>
</div>
</div>

<div class="card card-blog" data-background="pattern">
<div class="card-body">
<h5 class="card-title text-center">
<i class="fa fa-cloud"></i> Web design</h5>
<p class="card-description">
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> Undraw Illustrations</button></a>
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1">Dribble</button></a>
</p>
</div>
</div>

<div class="card card-blog" data-background="pattern">
<div class="card-body">
<h5 class="card-title text-center">
<i class="fa fa-cloud"></i> SEO / Marketing</h5>
<p class="card-description">
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> MailChimp</button></a>
<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1">Yoast Google Suggest</button></a>
<a href="https://app.neilpatel.com/nl/ubersuggest/keyword_ideas"><button type="button" class="btn btn-lg btn-info btn-block mb-1">Keyword Ideas (ubersuggest)</button></a>
</p>
</div>
</div>



 </div>

          <div class="col-md-6 col-lg-4">
            <div class="card card-blog" data-background="pattern">
              
              <div class="card-body">
                
 <h5 class="card-title text-center"><i class="fa fa-cloud"></i> Files / Storage</h5>
                <p class="card-description">

<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> FireFox Send</button></a>
<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> DropBox</button></a>

</p>
              </div>
              
            </div>


<div class="card card-blog" data-background="pattern">
<div class="card-body">
<h5 class="card-title text-center">
<i class="fa fa-cloud"></i> Finance / Fintech</h5>
<p class="card-description">
<a href="http://undraw.co/illustrations"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> TransferWise</button></a>
<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> Stripe</button></a>
<a href="https://app.neilpatel."><button type="button" class="btn btn-lg btn-info btn-block mb-1"> PayPal</button></a>
</p>
</div>
</div>


            
            
          </div>
          <div class="col-md-6 col-lg-4">
            
            <div class="card card-blog" data-background="pattern">
              
              <div class="card-body">
                
                <h5 class="card-title">
    

                  <i class="ni ni-paper-diploma"></i> Developer Tools
</h5>
                <p class="card-description">

<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> CodePen.io</button></a>
<a href="http://undra"><button type="button" class="btn btn-lg btn-info btn-block mb-1"> GitHub</button></a>

</p>
              </div>
              
            </div>
            
          </div>
        </div>
        
        
        
        
        
        
      </div>
    </div>