<section class="choose-section section_100">
         <div class="choose-shape-bg">
            <img src="http://themescare.com/demos/robofume-view/assets/img/hero-dot-shape.png" alt="choose">
         </div>
         <div class="container">
          <div class="row align-items-center">
               <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="choose-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                     <div class="section-title">
                        <h2><span>All-In-One Payment Platform</span> <br> For Your Business</h2>
                     </div>
                     <p>We replace all your payment tools in a handy dashboard where you can easily create payment requests and more.

</p>
                     <ul>
                        <li><i class="fa fa-check-square-o"></i>  Multiple Payment Providers </li>
                        <li><i class="fa fa-check-square-o"></i> Branded Payment Page</li>
                        <li><i class="fa fa-check-square-o"></i>3D Secure authentication
</li>
                        <li><i class="fa fa-check-square-o"></i>Send Payment Links</li>
                        <li><i class="fa fa-check-square-o"></i>Multi-currency</li>
                        <li><i class="fa fa-check-square-o"></i> 24/7 Live-chat Support</li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="choose-right">
                     <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                           <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                              <div class="choose-icon">
                                 <i class="fad fa-users"></i>
                              </div>
                              <h2>5K+</h2>
                              <p>businesses</p>
                              
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                           <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
                              <div class="choose-icon">
                                 <i class="fad fa-repeat"></i>
                              </div>
                              <h2>1K+</h2>
                              <p>Active Subscriptions</p>
                              
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                           <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                              <div class="choose-icon">
                                 <i class="fad fa-link"></i>
                              </div>
                              <h2>10K+</h2>
                              <p>Payment Links</p>
                              
                           </div>
                        </div>
                     <div class="col-lg-6 col-md-6 col-sm-12">
                           <div class="choose-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                              <div class="choose-icon">
                                 <i class="fad fa-money-bill"></i>
                              </div>
                              <h2>€1.5M</h2>
                              <p>Processed</p>
                              
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>