<!DOCTYPE html>
<html lang="en">
<head>
	<base href="https://payrequest.io/"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="PayRequest">
    {% seo %}

    <!-- Favicon -->
	<link href="./assets/logos/favicon.ico" rel="icon" type="image/png">
	
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
		(function () {
			var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
			s1.async = true;
			s1.src = 'https://embed.tawk.to/5de3e2bdd96992700fca2824/default';
			s1.charset = 'UTF-8';
			s1.setAttribute('crossorigin', '*');
			s0.parentNode.insertBefore(s1, s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152030908-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-152030908-2');
	</script>


      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <!--Font Awesome css-->
    <!--old font-awesome     <link rel="stylesheet" href="assets/css/font-awesome.min.css">  -->
     <script src="https://kit.fontawesome.com/daeece9ab5.js" crossorigin="anonymous"></script>

     <!-- Flaticon CSS
      <link rel="stylesheet" href="assets/flaticon/flaticon.css">

    Magnific css-
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      Owl-Carousel css
       <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
      -->
<link rel="stylesheet" href="https://media.payrequest.nl/css/owl.carousel.min.css">
      <!--Animate css-->
<link rel="stylesheet" href="https://media.payrequest.nl/css/animate.min.css">
      <!-- slicknav css -->
<link rel="stylesheet" href="https://media.payrequest.nl/css/slicknav.min.css">
      <!--Site Main Style css-->
<link rel="stylesheet" href="assets/css/style.css">
<!--Responsive css-->
<link rel="stylesheet" href="https://media.payrequest.nl/css/responsive.min.css">


</head>
<body>


       


       
      <!--Header Section Start-->
      <header class="header-area animated">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 d-flex align-items-center justify-content-between">
                  <div class="logo-area scroll-hide-logo">
                     <a href="index"> 
{% if page.tags contains 'color-logo' %}
{% include white-logo.html %}
{% else %}
{% include color-logo.html %}
{% endif %}
 </a>
                  </div>
                  <div class="logo-area scroll-show-logo">
                     <a href="index">

<img src="https://media.payrequest.nl/images/brand/payrequest-logo-color.webp" alt="payrequest logo" style="max-width: 200px;">



                     </a>
                  </div>
              
  <div class="menu-area d-flex justify-content-end align-items-center">
<div class="mobile-menu"><div class="slicknav_menu">

<a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;">
<span class="slicknav_menutxt">MENU</span>

<span class="slicknav_icon">
</span>

</a>
<ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;"> </ul>

</div></div>



                     <div class="main-menu">
                        <nav class="menu-box">
                           <ul class="nav-menu" id="mobile-menu">
                              <li><a href="showcase">Showcase</a></li>
                              <li class="dropdown">
                                 <a href="javascript:void(0);">Products</a>
                                 <ul>
                                    <li><a href="payment-links">Payment Links</a></li>
                                    <li><a href="donation-pages">Donation Pages</a></li>
                                    <li><a href="payment-pages">Payment Pages</a></li>
                                     <li><a href="pre-authorization">Pre-authorization</a></li>
                                    
                                 </ul>
                              </li>
                              <li class="dropdown">
                                 <a href="javascript:void(0);">Features</a>
                                 <ul>
                                    <li><a href="payment-providers">Payment Providers</a></li>
                                     <li><a href="multi-language">Multi Language</a></li>
                                      <li><a href="multi-currency">Multi Currency</a></li>
                                        <li><a href="payment-button">Payment Button</a></li>
                                    <li><a href="integrations">Integrations</a></li>
                                     <li><a href="api">PayRequest API</a></li>
                                 </ul>
                              </li>
                              <li><a href="pricing">Pricing</a></li>


                               <li class="dropdown">
                                   <a href="javascript:void(0);">Company</a>
                                   <ul>
                                       <li><a href="security">Security</a></li>
                                       <li><a href="brand-assets">Brand Assets</a></li>
                                       <li><a href="jobs">Jobs</a></li>
                                       <li><a href="https://docs.payrequest.io/">Documentation</a></li>
                                       <li><a href="contact">Contact</a></li>
                                   </ul>
                               </li>
                           </ul>
                        </nav>
                     </div>
                     <div class="right-bar-icon ml-4">
                        <ul>
                        <li class="" style="margin-top: 10px;padding: 0px;">
                              <a href="https://dashboard.payrequest.io/dashboard" class="theme-btn-white wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s" style="font-size: 14px;color: #25b7c7;padding: 6px 45px 6px 20px;"> dashboard
<span class="fa fa-chevron-right" style="
    height: 23px;
    width: 23px;
    right: 14px;
    top: 6px;
    line-height: 25px;
"></span>

</a>
                           </li>
                           
                        </ul>
                     </div>
                  </div>


               </div>
            </div>
         </div>
      </header>
<!--Header Section End-->
	
	
	{{ content }}


<footer class="footer-section">
 <!-- Footer Top Start -->
<div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="single-footer wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <div class="footer-logo">
                           <a href="index.html"><img src="https://media.payrequest.nl/images/brand/payrequest-logo-color.webp" alt="logo" style="
    max-width: 200px;
"></a>
                        </div>
                        <p>PayRequest is a no-code payment platform, to accept all payment methods, and start your business worldwide</p>
                        <ul class="footer-social">
                           <li><a href="https://twitter.com/payrequest_io" class="tw"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="https://www.facebook.com/payrequest/" class="fb"><i class="fa fa-facebook"></i></a></li>
                           <li><a href="https://www.instagram.com/payrequest/" class="pin"><i class="fa fa-instagram"></i></a></li>
                           <li><a href="https://www.linkedin.com/company/31461348/" class="ln"><i class="fa fa-linkedin"></i></a></li>
                           <li><a href="https://medium.com/payrequest" class="fb"><i class="fa fa-medium"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-5 col-md-6">
                     <div class="row">
                        <div class="col-lg-6 col-md-6">
                           <div class="single-footer wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInLeft;">
                              <h3>Products</h3>
                              <ul>
                                 <li><a href="payment-links">Payment Links</a></li>
                                 <li><a href="donation-pages">Donation Pages</a></li>
                                 <li><a href="payment-pages">Payment Pages</a></li>
                                 
                                 <li><a href="pre-authorization">Pre-authorization </a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                           <div class="single-footer wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                              <h3>Company</h3>
                              <ul>
                                 <li><a href="why-payrequest">Why PayRequest</a></li>
                                 <li><a href="brand-assets">Brand Assets</a></li>
                                 <li><a href="security">Security</a></li>
                                 <li><a href="contact">Contact</a></li>
                                 
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="single-footer wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3>Support</h3>
                        <ul class="footer-contact-info">
                           <li>You can always reach us via livechat</li>
                           <li><span>Email:</span> <a href="mailto:hello@example.com">info@payrequest.io</a></li>
                           <li><span>Phone:</span> <a href="tel:+44587154756">only on request</a></li>
                           
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer Top End -->
          
         <!-- Footer Bottom Start -->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="copyright wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
<p><span>© 2020 PayRequest - 
<a href="tos">Terms &amp; conditions |</a>   <a href="privacy">Privacy Policy |</a>    <a href="security">Security</a>  
</span></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Footer Bottom End -->
      </footer>
	
</main>   <!-- End main -->
</body>  <!-- End body -->
</html>    <!-- End HTML -->




       
       
      <!--Jquery js-->
      <script src="assets/js/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="assets/js/popper.min.js"></script>
      <!--Bootstrap js-->
      <script src="assets/js/bootstrap.min.js"></script>
      <!--Owl-Carousel js-->
      <script src="assets/js/owl.carousel.min.js"></script>
      <!-- Slicknav Js -->
      <script src="assets/js/jquery.slicknav.min.js"></script>
      <!--Magnific js-->
      <script src="assets/js/jquery.magnific-popup.min.js"></script>
      <!-- Counter JS -->
      <script src="assets/js/jquery.counterup.min.js"></script>
      <!-- Way Points JS -->
      <script src="assets/js/waypoints-min.js"></script>
      <!--Wow js-->
      <script src="assets/js/wow.min.js"></script>
      <!--Main js-->
      <script src="assets/js/main.js"></script>

   </body>
</html>