---
layout: default
---


<article class="post h-entry"  itemscope  itemtype="http://schema.org/BlogPosting">


    <section class="breadcrumb-area">
        <div class="breadcrumb-shape"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inn">
                        <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <h1> {{ page.title | escape }} </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="product-details section_100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-details-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                        <img src="https://media.payrequest.nl/images/banners/sell-products-without-a-website.png" alt="product">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-text wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
                        <h3>  {{ page.title | escape }}  </h3>
                        <div class="tour-rating">

                            <ul>
<li style="padding: 5px;"><i class="fad fa-clock" aria-hidden="true" style="color: #25b7c7;"></i><b>  {{ page.date | date: site.date_format }}</b></li>

 <li style="padding: 5px;"><i class="fad fa-clock" aria-hidden="true" style="color: #25b7c7;"></i><b>   1. {{ category }}  2. {{ categoryName }}  3. {{ categories }}  </b> </li>


                            </ul>
                        </div>


                        <div class="single-pro-page-para">
                            <h4><b> Your role <b></b></b></h4><p>
                            PayRequest is growing fast, your role as a Marketing Manager is to use all your experience to help users with onboarding, and to create marketing strategies.
                        </p>
                        </div><div class="single-pro-page-para">
                        <h4><b>We offer<b></b></b></h4><p>
                    </p><ul>
                        <li>- Work remote, or at our Office.</li>
                        <li>- Competitive Salary</li>
                        <li>- Flexible work hours &amp; 30 days holiday</li>
                    </ul>
                        <p></p>
                    </div>



                    </div>
                </div>
            </div>
        </div>
    </section>



    <header class="post-header">
        <p class="post-meta">
            <time class="dt-published"
                  datetime="{{ page.date | date_to_xmlschema }}"
                  itemprop="datePublished">
                {{ page.date | date: site.date_format }}
            </time>

            {%- if page.categories -%}
            • Posted in
            {% for category in page.categories %}
          {{ category }}
            {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}


            }</p>
    </header>


    <div class="post-content e-content"
         itemprop="articleBody">
        {{ content }}
    </div>

</article>
